[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = amanmahesh
	email = 108971073+amanmahesh@users.noreply.github.com
